<h2><%= @forum.title %></h2>

<table>
	<tr>
		<th>Topic</th>
		<th>Posts</th>
		<th>Last Post</th>
	</tr>
	<%# @topics.each do |topic| -%>
	<tr>
		<td><%#= topic.%></td>
		<td></td>
		<td></td>
	</tr>
	<%# end -%>
</table>